<div id="search" class="search" style="display: none;">
  <div class="input-group">
    {{input
      id='searchInput'
      name='searchInput'
      type='search'
      class=customClass
      value=value
      enter='search'
      autocomplete='off'
      spellcheck=''
      tabindex='1'
      placeholder='The placeholder for search'
    }}
    <div class="input-group-append">
      <button class="btn btn-search" type="button" tabindex="2" {{action 'search'}}><i class="fa fa-search" aria-hidden="true"></i></button>
    </div>
  </div>
<!-- RESET START -->
  {{#if value}}
  	<button type="button" class="close btn-search-reset" {{action 'clear'}}><i class="fa fa-times-circle" aria-hidden="true"></i></button>
  {{/if}}
<!-- RESET STOP -->
</div>