// Sweco

// Fixed body for non scroll content
.body-fixed
{
  overflow: hidden;
}

// Body when included in iframe
.body-iframe
{
  background-color: $white; 
  .container,
  .container-fluid
  {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

// If .navbar-north add .navbarNorth class to body
body.navbarNorth
{
  padding-top: $navbar-north-height;
  @include media-breakpoint-down(md)
  {
    padding-top: (($navbar-north-height * 2) - 10px);
  }
}

// If .navbar-south add .navbarSouth class to body
body.navbarSouth
{
  #content
  {
    padding-bottom: $navbar-south-height !important;
  }
}

// Windows fix for scroll jump on fixed-navbars on scroll
.ie-10,
.ie-11,
.win.chrome,
.win.firefox
{
  @include media-breakpoint-up(sm)
  {
    .navbar.fixed-top,
    .navbar.fixed-bottom
    {
      padding-right: 0 !important;
      padding-left: calc(100vw - 100%) !important;
      .container > .row
      {
        margin-left: - 7px !important;
      }
      .progressjs-navbar
      {
        margin-left: - 17px !important;
      }
    }
  }
}

// Container
.container,
.container-fluid
{
  position: relative;
  @include media-breakpoint-up(sm)
  {
    padding-left: $grid-gutter-width !important;
    padding-right: $grid-gutter-width !important;
  }
}

// Remove IE clear and reveal on inputs
::-ms-clear
{
  display: none;
}

::-ms-reveal
{
  display: none;
}

// Text selection
::selection
{
  background: $gray-lighter;
}
::-moz-selection
{
  background: $gray-lighter;
}

// Pointer events
.pointer-events-none
{
  -webkit-touch-callout: none;
  user-select: none;
  pointer-events: none;
  cursor: default;
}

.pointer-events-all
{
  -webkit-touch-callout: default;
  user-select: all;
  pointer-events: all;
  cursor: pointer;
}

// User select
.user-select-none
{
  user-select: none;
}

.user-select-all
{
  user-select: all;
}

// Inner scroll
.inner
{
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
}

// Inner scroll-y
.inner-y
{
  @extend .inner;
  overflow-x: hidden;
}

// Inner scroll-x
.inner-x
{
  @extend .inner;
  overflow-y: hidden;
}

// Typography
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
legend,
label,
.btn, .nav, .pagination, .badge , .breadcrumb, .list-group
{
  font-family: $headings-font-family;
  font-weight: normal !important;
}

// Typography heavy
strong, b, dt, th
{
  font-family: $font-family-heavy;
  font-weight: normal !important;
}

// Typography font-smoothing
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
legend,
label,
blockquote
strong, b, dt, th,
.btn, .nav, .pagination, .badge , .breadcrumb, .list-group, .lead
{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Typography uppercase
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
legend,
label,
th,
.btn, .nav, .pagination, .badge, .breadcrumb, .list-group
{
  text-transform: uppercase;
}

// Headings color
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
legend,
label,
dt, th
{
  color: $headings-color;
}

h1,
.h1
{
  font-size: $h1-font-size;
  line-height: $h1-line-height;
}

h2,
.h2
{
  font-size: $h2-font-size;
  line-height: $h2-line-height;
}

h3,
.h3
{
  font-size: $h3-font-size;
  line-height: $h3-line-height;
}

h4,
.h4
{
  font-size: $h4-font-size;
  line-height: $h4-line-height;
}

h5,
.h5
{
  font-size: $h5-font-size;
  line-height: $h5-line-height;
}

h6,
.h6
{
  font-size: $h6-font-size;
  line-height: $h6-line-height;
}

// Typography size class
.font-size-xs
{
  font-size: $font-size-xs;
}
.font-size-sm
{
  font-size: $font-size-sm;
  line-height: $line-height-sm;
}
.font-size-base
{
  font-size: $font-size-base;
}
.font-size-lg
{
  font-size: $font-size-lg;
  line-height: $line-height-lg;
}
.font-size-xl
{
  font-size: $font-size-xl;
  line-height: $line-height-xl;
}

.display-1,
.display-2,
.display-3,
.display-4
{
  font-family: $font-family-regular;
  text-transform: none;
}

.display-1
{
  line-height: $line-height-display-1;
}

.display-2
{
  line-height: $line-height-display-2;
}

.display-3
{
  line-height: $line-height-display-3;
}

.display-4
{
  line-height: $line-height-display-4;
}

.page-header
{
  padding: $spacer-y 0;
}

.lead
{
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  @include media-breakpoint-up(md)
  {
    font-size: $font-size-lg;
    line-height: $lead-line-height;
  }
}

blockquote
{
  font-family: $font-family-medium;
  line-height: $line-height-lg;
  border: 0 !important;
  .blockquote-footer
  {
    font-family: $font-family-base !important;
    font-size: $font-size-base !important;
    line-height: $line-height-base !important;
    margin-left: .35rem;
    margin-right: .35rem;
    &:before,
    &:after
    {
      content: "" !important;
    }
  }
}

address,
cite
{
  font-style: normal;
}

cite
{
  text-transform: uppercase;
  &:before
  {
    content: "\002D \00A0";
  }
}

.text-muted
{
  font-size: inherit;
}

// Label
label,
.label
{
  @extend .user-select-none;
  cursor: pointer;
}

// Code
code
{
  background-color: $code-bg;
  margin: $spacer 0;
  padding: ($code-padding-y + .06rem) $code-padding-x;
}

pre
{
  background-color: $code-bg;
  padding: $code-padding-y $code-padding-x;
  margin: $spacer 0;
  overflow-y: hidden;
  code
  {
    color: $code-color;
    margin: 0;
    padding: 0;
  }
}

samp
{
  font-size: $font-size-sm;
}

// White text
.white-text,
.text-color-white
{
  color: $white;
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6,
  legend,
  label,
  p, li, dt, dd, th, td,
  .lead,
  blockquote
  {
    color: inherit;
  }
  a
  {
    text-decoration: underline;
    color: $white;
    @include hover-focus
    {
      color: $white;
    }
  }
}

// Table
table
{
  th,
  td
  {
    padding: 0;
    vertical-align: top;
  }
  thead th
  {
    vertical-align: bottom;
    border-bottom: 0;
  }
  tbody + tbody
  {
    border-top: 0;
  }
  &.table
  {
    background-color: $table-bg;
    width: 100%;
    max-width: 100%;
    @extend .table-bordered;
    border: 0;
    thead
    {
      th
      {
        border-bottom-width: 1px;
      }
    }
    tbody + tbody
    {
      border-top-width: 1px;
    }
    tbody
    {
      th
      {
        width: 1%;
        text-align: right;
      }
    }
    tr
    {
      transition: $transition;
    }
  }
  &.table-sm
  {
    th,
    td
    {
      font-size: $font-size-sm;
      line-height: $line-height-sm;
    }
  }
}

// Icon spacing
.btn
{
  > .fa
  {
    margin-right: ($spacer / 2);
    &.fa-angle-left,
    &.fa-angle-right
    {
      @extend .fa-lg;
      vertical-align: -8% !important;
    }
  }
}

.icon-right,
.fa-right
{
  margin-right: 0 !important;
  margin-left: ($spacer / 2) !important;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6
{
  > .fa
  {
    margin-right: ($spacer / 2);
  }
}

// Navbar
.navbar
{
  background: $brand-primary;
  &.navbar-dark,
  &.navbar-light
  {
    background: $brand-primary;
  }
  &.navbar-north,
  &.navbar-south
  {
    background: $navbar-bg;
  }
  .container,
  .container-fluid
  {
    position: relative;
    > .row
    {
      @extend .no-gutters;
      flex-basis: 100%;
      position: relative;
    }
    @include media-breakpoint-down(sm)
    {
      padding-right: $spacer;
      padding-left: $spacer;
    }
  }
  // Navbar nav
  .navbar-nav
  {
    @include media-breakpoint-up(lg)
    {
      order: 3;
      .navbar-collapse
      {
        justify-content: flex-end;
      }
    }
    @include media-breakpoint-down(md)
    {
      display: block;
      order: 2;
      .nav
      {
        margin-bottom: $spacer;
        flex-direction: column !important;
        .nav-item
        {
          margin-left: 0 !important;
          .nav-link
          {
            display: inline-block;
          }
        }
      }
    }
  }
  // Navbar toggler
  .navbar-toggler
  {
    position: absolute;
    top: 14px;
    left: calc(100% - 65px);
    z-index: $zindex-navbar;
    border: 2px solid transparent;
    min-width: 50px;
    color: $navbar-color;
    cursor: pointer;
    @include hover-focus
    {
      outline: 0 !important;
      border: 2px solid $white;
    }
    &[aria-expanded^="true"]
    {
      border: 2px solid $white;
    }
    @include media-breakpoint-down(xs)
    {
      right: $spacer;
    }
  }
  // Navbar collapse
  .navbar-collapse
  {
    padding: 0 $spacer $spacer;
    .form-inline
    {
      display: block;
    }
    @include media-breakpoint-up(lg)
    {
      padding-bottom: 0;
      display: flex;
      justify-content: flex-end;
      .form-inline
      {
        display: flex;
      }
    }
  }
  // Navbar navigation
  .nav
  {
    .nav-item + .nav-item
    {
      margin-left: $spacer;
    }
    .nav-item
    {
      .nav-link
      {
        position: relative;
        color: $white;
        white-space: nowrap;
        padding: 5px 0 2px !important;
        min-height: 30px !important;
        @include hover-focus-active
        {
          color: $white;
          text-decoration: none;
          background-color: transparent;
        }
        &.dropdown-toggle
        {
          padding-right: ($spacer * 1.5) !important;
          &:after
          {
            right: 0;
          }
        }
        &:before,
        &:focus:before
        {
          position: absolute;
          bottom: 0px;
          left: 0;
          width: 100%;
          height: 1px;
          background: $white;
          content: '';
          opacity: 0;
          transition: height .2s, opacity .2s, transform .2s;
          transform: translateY(-5px);
        }
        &:hover:before,
        &:focus:before
        {
          height: 2px;
          opacity: 1;
          transform: translateY(0)
        }
        &.disabled
        {
          &:hover:before,
          &:focus:before
          {
            display: none;
          }
        }
        .fa
        {
          margin-right: ($spacer / 2);
        }
      }
      // Dropdown
      .dropdown-menu
      {
        z-index: $zindex-fixed-dropdown;
        left: auto;
        right: 0;
        &:after
        {
          left: auto;
          right: $spacer;
        }
        &:before
        {
          left: auto;
          right: $spacer;
        }
        @include media-breakpoint-down(md)
        {
          background-color: transparent;
          box-shadow: none;
          margin-top: 0;
          margin-bottom: 0;
          padding-left: $spacer;
          .dropdown-item
          {
            position: relative;
            color: $navbar-color;
            padding-left: 0;
            padding-right: 0;
            &:hover,
            &:focus
            {
              background-color: transparent;
            }
            &:before,
            &:focus:before
            {
              position: absolute;
              bottom: 0px;
              left: 0;
              width: 100%;
              height: 1px;
              background: $white;
              content: '';
              opacity: 0;
              transition: height .2s, opacity .2s, transform .2s;
              transform: translateY(-5px);
            }
            &:hover:before,
            &:focus:before
            {
              height: 2px;
              opacity: 1;
              transform: translateY(0)
            }
          }
        }
      }
      @include media-breakpoint-down(md)
      {
        &.dropdown.show
        {
          .dropdown-menu
          {
            &:before,
            &:after
            {
              display: none;
            }
          }
        }
      }
    }
  }
  &.fixed-top
  {
    box-shadow: 0 5px $box-shadow-size $box-shadow;
    // Navbar toggler
    .navbar-toggler
    {
      z-index: $zindex-fixed-dropdown;
    }
  }
  &.fixed-bottom
  {
    box-shadow: 0 -5px $box-shadow-size $box-shadow;
  }
  &.navbar-north
  {
    display: block;
    min-height: $navbar-north-height;
    .logotype-white
    {
      margin-left: -$spacer;
    }
    // Navbar toggler
    .navbar-toggler
    {
      left: calc(100% - 50px);
    }
    // Navbar collapse
    .navbar-collapse
    {
      padding: 0;
    }
  }
  .form-inline
  {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .search
  {
    position: relative;
    margin-top: 10px;
    @include media-breakpoint-up(lg)
    {
      order: 2;
      padding: 0 $spacer;
    }
    @include media-breakpoint-down(md)
    {
      order: 3;
      margin-top: 0;
      margin-bottom: 10px;
    }
    .form-control
    {
      background-clip: border-box !important;
      border-color: $input-bg;
      padding-right: 30px !important;
    }
    .btn-search
    {
      @extend .btn-info;
      margin-left: 0 !important;
      padding-left: 15px;
      padding-right: 14px;
      min-width: 50px;
      .fa
      {
        font-size: $font-size-lg;
        margin: -2px 0;
      }
    }
    .btn-search-reset
    {
      position: absolute;
      top: 9px;
      right: ($spacer * 5);
      z-index: ($zindex-fixed-dropdown + 5);
      @include media-breakpoint-down(md)
      {
        right: ($spacer * 4);
      }
    }
  }
  &.navbar-south
  {
    display: block;
    min-height: $navbar-south-height;
    // When show fading in, animate it to slide up
    &.fade
    {
      transform: translate3d(0, 100%, 0) !important;
      &.show
      {
        transform: translate3d(0, 0, 0) !important;
      }
    }
  }
}

// Front page
.body-front-page
{
  @extend .body-fixed;
  #content
  {
    display: none;
  }
}

.front-page
{
  position: fixed;
  top: 0;
  left: 0;
  z-index: $zindex-sticky;
  width: 100%;
  min-width: 100%;
  height: 100vh;
  display: table;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-color: $body-bg;
  &.front-page-img-topLeft
  {
    background-position: 0 0;
  }
  .hero
  {
    background-image: $overlay-pattern;
    background-repeat: repeat;
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    @extend .white-text;
    h1
    {
      @include media-breakpoint-down(lg)
      {
        font-size: $h3-font-size;
      }
      @include media-breakpoint-down(sm)
      {
        font-size: $h4-font-size;
      }
      @include media-breakpoint-down(xs)
      {
        font-size: $h5-font-size;
      }
    }
    .jumbo
    {
      background-color: $navbar-bg;
      @extend .white-text;
      padding: $spacer-y $spacer-x;
    }
    .version
    {
      font-size: $font-size-sm;
      text-transform: none;
      margin-left: $spacer;
    }
  }
}

// Header
header.header-image
{
  height: 40vw;
  min-height: 280px;
  max-height: 480px;
  overflow: hidden;
  margin-bottom: $spacer-y;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  .navbarNorth &
  {
    margin-top: -$navbar-north-height;
    .content-b
    {
      padding-top: $navbar-north-height;
    }
    @include media-breakpoint-down(md)
    {
      margin-top: -(($navbar-north-height * 2) - 10px);
      .content-b
      {
        padding-top: (($navbar-north-height * 2) - 10px);
      }
    }
  }
  > .content-a
  {
    display: table;
    width: 100%;
    height: inherit;
    min-height: inherit;
    max-height: inherit;
    background-image: $overlay-pattern;
    background-repeat: repeat;
    > .content-b
    {
      display: table-cell;
      position: relative;
      vertical-align: middle;
      text-align: left;
      @extend .white-text;
      @include media-breakpoint-down(md)
      {
        h1
        {
          font-size: $h4-font-size;
          line-height: $h4-line-height;
        }
      }
    }
  }
}

// Button
.btn
{
  transition: $transition;
  text-transform: uppercase;
  text-decoration: none;
  outline: 0 !important;
  border-style: none;
  @include hover-focus
  {
    outline: 0 !important;
    cursor: pointer;
  }
  &.btn-primary
  {
    @include hover-focus
    {
      background-color: darken($btn-primary-bg, 10%);
      border-color: darken($btn-primary-bg, 10%);
    }
  }
  &.btn-info
  {
    @include hover-focus
    {
      background-color: darken($btn-info-bg, 10%);
      border-color: darken($btn-info-bg, 10%);
    }
  }
  &.btn-secondary
  {
    color: $btn-secondary-color;
    border: 1px solid $btn-secondary-border;
    padding-top: ($input-btn-padding-y - .0625rem);
    padding-bottom: ($input-btn-padding-y - .0625rem);
    &.btn-xs
    {
      height: $input-height-xs;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
    &.btn-sm
    {
      padding-top: ($input-btn-padding-y-sm - .0625rem);
      padding-bottom: ($input-btn-padding-y-sm - .0625rem);
    }
    &.btn-lg
    {
      padding-top: ($input-btn-padding-y-lg - .0625rem);
      padding-bottom: ($input-btn-padding-y-lg - .0625rem);
    }
    &:hover,
    &:focus,
    &:active,
    &.focus,
    &.active,
    .show > &.dropdown-toggle
    {
      background-color: $component-bg-hover !important;
    }
    &.disabled,
    &[disabled],
    fieldset[disabled] &
    {
      border: 0;
    }
  }
  &.btn-warning
  {
    color: $btn-warning-color;
    @include hover-focus
    {
      background-color: darken($btn-warning-bg, 10%);
      border-color: darken($btn-warning-bg, 10%);
    }
  }
  &.btn-danger
  {
    @include hover-focus
    {
      background-color: darken($btn-danger-bg, 10%);
      border-color: darken($btn-danger-bg, 10%);
    }
  }
  &.btn-success
  {
    @include hover-focus
    {
      background-color: darken($btn-success-bg, 10%);
      border-color: darken($btn-success-bg, 10%);
    }
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] &
  {
    background: $btn-disabled-bg-color !important;
    border-color: $btn-link-disabled-color !important;
    color: $btn-link-disabled-color !important;
    opacity: 1 !important;
    &,
    &:hover,
    &:focus,
    &:active,
    &.active
    {
      cursor: default;
      background: $btn-disabled-bg-color !important;
      border-color: $btn-link-disabled-color !important;
      color: $btn-link-disabled-color !important;
      opacity: 1 !important;
    }
  }
  &.btn-outline-secondary,
  &.btn-outline-primary,
  &.btn-outline-info,
  &.btn-outline-warning,
  &.btn-outline-danger,
  &.btn-outline-success
  {
    transition: $transition;
    border: 1px solid $border-color;
  }
  &.btn-outline-secondary
  {
    color: $btn-secondary-color;
    box-shadow: inset 0 0 0 0 $btn-primary-bg;
    @include hover-focus-active
    {
      color: $btn-primary-color;
      box-shadow: inset $btn-outline-box-width 0 0 0 $btn-primary-bg;
      border-color: $btn-primary-bg !important;
    }
  }
  &.btn-outline-primary
  {
    box-shadow: inset 0 0 0 0 $btn-primary-bg;
    @include hover-focus-active
    {
      color: $white;
      box-shadow: inset $btn-outline-box-width 0 0 0 $btn-primary-bg;
      border-color: $btn-primary-bg;
    }
  }
  &.btn-outline-info
  {
    box-shadow: inset 0 0 0 0 $btn-info-bg;
    @include hover-focus-active
    {
      color: $white;
      box-shadow: inset $btn-outline-box-width 0 0 0 $btn-info-bg;
      border-color: $btn-info-bg;
    }
  }
  &.btn-outline-warning
  {
    box-shadow: inset 0 0 0 0 $btn-warning-bg;
    @include hover-focus
    {
      color: $white;
      box-shadow: inset $btn-outline-box-width 0 0 0 $btn-warning-bg;
    }
  }
  &.btn-outline-danger
  {
    box-shadow: inset 0 0 0 0 $btn-danger-bg;
    @include hover-focus-active
    {
      color: $white;
      box-shadow: inset $btn-outline-box-width 0 0 0 $btn-danger-bg;
    }
  }
  &.btn-outline-success
  {
    box-shadow: inset 0 0 0 0 $btn-success-bg;
    @include hover-focus-active
    {
      color: $white;
      box-shadow: inset $btn-outline-box-width 0 0 0 $btn-success-bg;
    }
  }
}
.btn-sm
{
  font-size: $font-size-base;
  line-height: $line-height-base;
}
// Btn Bootstrap 3 scss
.btn-default
{
  @extend .btn-secondary;
}
.btn-xs
{
  @extend .btn-sm;
  font-size: $font-size-sm;
  line-height: $input-btn-line-height-xs;
  padding: $input-btn-padding-y-xs $input-btn-padding-x-xs !important;
}

// btn-group
.btn-group
{
  .btn + .btn
  {
    margin-left: 1px;
    &:after
    {
      margin-left: 0 !important;
    }
  }
}

.btn-group-vertical
{
  .btn + .btn
  {
    margin-top: 1px;
  }  
}

// Btn-collapse
.btn-collapse
{
  padding-right: ($spacer * 2.5) !important;
  &[data-toggle="collapse"]
  {
    display: block;
    position: relative;
    transition: $transition;
    &:after
    {
      position: absolute;
      top: 6px;
      right: 20px;
      display: inline-block;
      font-family: FontAwesome;
      color: inherit;
      font-size: $font-size-lg;
      width: 1px;
      height: 1px;
      content: "\f105";
      vertical-align: text-top;
      margin: 0;
      transition: $transition;
    }
    &[aria-expanded="true"]
    {
      color: $component-active-color !important;
      background-color: $component-active-bg !important;
      &:after
      {
        transform: rotate(90deg);
        top: 17px;
        right: 4px;
      }
    }
  }
}

// Dropdowns
.dropdown-menu
{
  border: 0;
  box-shadow: $dropdown-box-shadow;
  &:before,
  &:after
  {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    display: block;
    position: absolute;
    left: $spacer;
    z-index: $zindex-dropdown;
    border-width: 10px;
  }
  &:before
  {
    border-bottom-color: rgba(0,0,0,.1);
    top: -20px;
  }
  &:after
  {
    margin-left: 0px;
    border-bottom-color: $white;
    top: -19px;
  }
  &[x-placement^="bottom-start"] {
    &:before
    {
      border-bottom-color: rgba(0,0,0,.1);
      top: -20px;
    }
    &:after
    {
      margin-left: 0px;
      border-bottom-color: $white;
      top: -19px;
    }
  }
  &[x-placement^="top-start"] {
    &:before
    {
      border-top-color: rgba(0,0,0,.1) !important;
      border-bottom-color: transparent !important;
      top: auto !important;
      bottom: -20px !important;
    }
    &:after
    {
      border-top-color: $white !important;
      border-bottom-color: transparent !important;
      top: auto !important;
      bottom: -19px !important;
    }
  }
  .dropdown-item
  {
    padding: $dropdown-item-padding-y $dropdown-item-padding-x;
    white-space: nowrap;
    @include hover-focus-active
    {
      outline: 0;
    }
    &.active
    {
      &:hover
      {
        background-color: $dropdown-link-active-hover-bg;
      }
    }
  }
  .dropdown-divider
  {
    margin: 0;
  }
  > div
  {
    @extend .inner-y;
    max-height: $dropdown-max-height;
  }
}

// Caret dropdown arrow
.dropdown-toggle
{
  position: relative;
  padding-right: ($spacer * 2.5);
  .caret
  {
    display: none;
  }
  &:after
  {
    position: absolute;
    top: 50%;
    right: 15px;
    font-family: FontAwesome;
    color: inherit;
    font-size: $font-size-lg;
    width: 12px !important;
    content: "\f107" !important;
    border: 0 !important;
    margin: -13px 0 16px 0 !important;
  }
}

.dropdown-toggle-split
{
  .btn + .btn
  {
    margin-left: 0;
  }  
}

.dropup
{
  .dropdown-toggle
  {
    &:after
    {
      content: "\f106" !important;
      border: 0 !important;
    }
  }
  .dropdown-menu
  {
    &:before
    {
      border-top-color: rgba(0,0,0,.1) !important;
      border-bottom-color: transparent !important;
      top: auto !important;
      bottom: -20px !important;
    }
    &:after
    {
      border-top-color: $white !important;
      border-bottom-color: transparent !important;
      top: auto !important;
      bottom: -19px !important;
    }
    &[x-placement^="bottom-start"] {
      &:before
      {
        border-top-color: transparent !important;
        border-bottom-color: rgba(0,0,0,.1) !important;
        top: -20px !important;
      }
      &:after
      {
        margin-left: 0px !important;
        border-top-color: transparent !important;
        border-bottom-color: $white !important;
        top: -19px !important;
      }
    }
  }
}


// Close
.close
{
  transition: $transition;
  opacity: 1 !important;
  outline: 0;
  @include hover-focus-active
  {
    opacity: .6 !important;
    outline: 0;
    cursor: pointer;
  }
  .fa
  {
    margin: 0;
  }
}

// Close icon
.close-icon
{
  @include fa-icon;
  font-size: 0;
  color: transparent;
  &:before
  {
    content: $fa-var-times-circle;
    color: $close-color;
    font-size: $font-size-xl;
  }
}

// Popover
.popover
{
  &.bs-popover-bottom
  {
    .arrow:after,
    .arrow:before
    {
      border-bottom-color: $popover-header-bg !important;
    }
  }
  .popover-title
  {
    color: $white;
    position: relative;
    padding-right: ($spacer * 3);
  }
  .popover-body
  {
    position: relative;
    font-size: $font-size-base;
    @extend .inner-y;
    max-height: $popover-body-max-height;
  }
  .close
  {
    position: absolute;
    top: 9px;
    z-index: ($zindex-popover + 1);
    right: $spacer;
    color: $white;
    &:before
    {
      color: $white;
    }
  }
  &[x-placement^="top"] {
    @extend .bs-popover-top;
    .arrow
    {
      top: 100%;
    }
  }
  &[x-placement^="right"] {
    @extend .bs-popover-right;
    .arrow
    {
      left: -8px;
    }
  }
  &[x-placement^="bottom"] {
    @extend .bs-popover-bottom;
    .arrow
    {
      top: -8px;
    }
  }
  &[x-placement^="left"] {
    @extend .bs-popover-left;
    .arrow
    {
      right: -8px;
    }
  }
}

// Tooltip
.tooltip
{
  font-size: $font-size-sm;
}

// Panels and wells
.panel,
.well
{
  position: relative;
  display: block;
  background-color: $white;
  padding: $spacer-y $spacer-x;
  margin-bottom: $spacer-y;
  @extend .clearfix;
  @include media-breakpoint-down(xs)
  {
    padding-left: $spacer-x !important;
    padding-right: $spacer-x !important;
  }
  &.well-default,
  &.well-secondary
  {
    background-color: $gray-superlight;
  }
  &.well-info
  {
    background-color: $brand-info;
  }
  &.well-warning
  {
    background-color: $brand-warning;
  }
  &.well-info,
  &.well-warning
  {
    @extend .white-text;
  }
}

// Forms
fieldset
{
  @include clearfix;
  padding: $spacer-y $spacer-x;
  margin-bottom: $spacer-y;
  background-color: $fieldset-bg;
  @include media-breakpoint-down(xs)
  {
    padding-left: $spacer !important;
    padding-right: $spacer !important;
  }
}

.row
{
  .col-form-label
  {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }  
}

// Form-group
.form-group
{
  &.has-warning
  {
    .form-control
    {
      border-color: $brand-warning;
    }
    .form-control-feedback
    {
      color: $brand-warning;
    }
  }
  &.has-danger
  {
    .form-control
    {
      border-color: $brand-danger;
    }
    .form-control-feedback
    {
      color: $brand-danger;
    }
  }
  &.has-success
  {
    .form-control
    {
      border-color: $brand-success;
    }
    .form-control-feedback
    {
      color: $brand-success;
    }
  }
}

// Form-control
.form-control
{
  transition: $transition;
  font-family: $font-family-base;
  // ios fix
  &[type="date"],
  &[type="month"],
  &[type="week"],
  &[type="time"],
  &[type="datetime-local"]
  {
    -webkit-appearance: textfield;
    // min-height: $input-height;
    // padding: .48rem $input-padding-x;
  }
  &[disabled],
  &[readonly],
  fieldset[disabled] &
  {
    background-clip: border-box !important;
    &:placeholder
    {
      color: $disabled-color;
    }
  }
  &.form-control-sm
  {
    font-size: $font-size-base;
    line-height: $input-line-height;
    padding-top: $input-padding-y-xs;
    padding-bottom: $input-padding-y-xs;
    padding-left: $input-padding-x-sm;
    padding-right: $input-padding-x-sm;
  }
}

.input-group
{
  &.input-group-sm
  {
    .btn,
    .input-group-text
    {
      font-size: $font-size-base;
      line-height: $input-line-height;
    }
  }
}

// File browser
.file-browser
{
  label
  {
    margin: 0;
  }
  .btn,
  .form-control
  {
    height: $input-height;
    padding: $input-padding-y $input-padding-x;
  }
  &.file-browser-sm
  {
    .btn,
    .form-control
    {
      height: $input-height-sm;
      padding: $input-padding-y-sm $input-padding-x-sm;
    }
  }
}

// Checkbox and radio
.form-check-input,
input[type="checkbox"],
input[type="radio"]
{
  margin-right: .5rem;
}

// Textarea
textarea.form-control
{
  min-height: 80px;
}

// Selects
select.form-control
{
  cursor: pointer;
}

select.form-control:not([size]):not([multiple])
{
  @extend .custom-select;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
  &.form-control
  {
    height: $input-height;
    padding-top: .5rem;
  }
  &.form-control-sm
  {
    height: $input-height-sm;
    padding-top: .1rem;
    padding-bottom: .15rem;
  }
  &.form-control-lg
  {
    line-height: $input-line-height-lg;
    height: $input-height-lg;
    padding-top: .5rem;
  }
}

select.form-control[multiple]
{
  @extend .inner-y;
  max-height: 90px;
}

select
{
  &[disabled],
  &[readonly],
  fieldset[disabled] &
  {
    &:hover
    {
      cursor: default;
    }
  }
}

// Custom-file
.custom-file
{
  width: 100%;
  .custom-file-control
  {
    &:after
    {
      @extend label;
      color: $input-placeholder-color !important;
    }
    &:before
    {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-family: FontAwesome;
      content: "\f093" !important; // fa-upload
      color: $white !important;
      font-size: $font-size-lg;
      line-height: .7;
      background-color: $btn-info-bg !important;
      transition: $transition;
    }
  }
  .custom-file-input
  {
    &:focus
    {
      + .custom-file-control
      {
        background-color: $input-focus-bg !important;
        border-color: $input-focus-border-color !important;
        &:before
        {
          background-color: darken($btn-info-bg, 10%) !important;
        }
      }
    }
    &:hover
    {
      cursor: pointer;
      + .custom-file-control
      {
        &:before
        {
          background-color: darken($btn-info-bg, 10%) !important;
        }
      }
    }
  }
  &.custom-file-sm
  {
    height: 2rem;
    .custom-file-control
    {
      height: 2rem;
      padding-top: 0.44rem;
      padding-bottom: 0.44rem;
      &:before
      {
        height: 2rem;
        padding-top: 0.44rem;
        padding-bottom: 0.44rem;
      }
    }
  }
}

// Checkboxes & radios
.check,
.radio
{
  position: relative;
  label
  {
    margin: 0 !important;
    padding: 10px 0 0 30px !important;
    min-height: 27px;
    cursor: pointer;
    @extend .user-select-none;
    &:hover
    {
      &:before,
      &:after
      {
        color: darken($btn-info-bg, 10%);
      }
    }
  }
  input
  {
    @extend .d-none;
  }
  input + label:before,
  input + label:after
  {
    position: absolute;
    top: 5px;
    left: 0;
    z-index: $zindex-btn;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: FontAwesome;
    color: $btn-info-bg;
    font-size: 23px;
    cursor: pointer;
    transition: $transition;
  }
  input + label:before
  {
    top: 13px;
    left: 1px;
    width: 17px;
    height: 17px;
    content: "";
    background-color: $white;
    border-radius: 50%;
  }
  &.has-success
  {
    label:after
    {
      color: $state-success-text !important;
    }
    &:hover
    {
      label:after
      {
        color: darken($state-success-text, 10%) !important;
      }
    }
  }
  &.has-warning
  {
    label:after
    {
      color: $state-warning-text !important;
    }
    &:hover
    {
      label:after
      {
        color: darken($state-warning-text, 10%) !important;
      }
    }
  }
  &.has-danger
  {
    label:after
    {
      color: $state-danger-text !important;
    }
    &:hover
    {
      label:after
      {
        color: darken($state-danger-text, 10%) !important;
      }
    }
  }
  input[disabled] + label:before,
  input[disabled] + label:after,
  input[disabled] + label
  {
    color: $disabled-color !important;
    @extend .pointer-events-none;
    &:hover
    {
      color: $disabled-color !important;
      @extend .pointer-events-none;
    }
  }
}
.check
{
  input + label:after
  {
    content: "\f0c8"; // fa-var-square
    font-size: 23px;
  }
  input:checked + label:after
  {
    content: "\f14a"; // fa-var-check-square
    font-size: 23px;
  }
}
.radio
{
  input + label:before,
  input + label:after
  {
    top: 11px;
  }
  input + label:after
  {
    content: "\f111"; // fa-var-circle
  }
  input + label:after,
  input:checked + label:after
  {
    top: 5px;
  }
  input:checked + label:after
  {
    content: "\f058"; // fa-var-check-circle
  }
  label
  {
    padding-top: 0;
  }
}

// Alert
.alert
{
  border-width: 2px !important;
  &.alert-success
  {
    color: $state-success-text;
    border-color: $state-success-border;
    background-color: $state-success-bg;
  }
  &.alert-info
  {
    color: $state-info-text;
    border-color: $state-info-border;
    background-color: $state-info-bg;
  }
  &.alert-warning
  {
    color: $state-warning-text;
    border-color: $state-warning-border;
    background-color: $state-warning-bg;
  }
  &.alert-danger
  {
    color: $state-danger-text;
    border-color: $state-danger-border;
    background-color: $state-danger-bg;
  }
  .close
  {
    color: inherit !important;
    margin-top: -1px;
  }
  a
  {
    color: inherit !important;
    text-decoration: underline !important;
    font-weight: normal !important;
  }
}

// Jumbotron
.jumbotron
{
  @extend .white-text;
  h1
  {
    @include media-breakpoint-down(lg)
    {
      font-size: $display4-size;
    }
    @include media-breakpoint-down(sm)
    {
      font-size: $h2-font-size;
    }
  }
  .well
  {
    @extend .well-info;
    margin-bottom: 0;
    background-color: transparent;
    border: 1px solid $white;
  }
}

// Navs, includes shim for BS 3
.nav
{
  .nav-item,
  > li
  {
    @extend .nav-item;
    text-transform: $nav-text-transform;
    .nav-link,
    > a
    {
      @extend .nav-link;
      transition: $transition;
      color: $nav-link-color;
      min-height: 40px;
      @include hover-focus-active
      {
        color: $nav-link-hover-color;
        text-decoration: none;
        background-color: $nav-link-hover-bg;
        outline: 0;
      }
      &.disabled,
      &[disabled]
      {
        cursor: $cursor-disabled;
        color: $nav-disabled-link-color !important;
      }
    }
  }
  &.nav-tabs
  {
    @extend .nav-tabs;
    border-bottom: $nav-tabs-border-width solid $nav-tabs-border-color;
    > li
    {
      float: left;
      margin-bottom: -$nav-tabs-border-width;
      > a
      {
        padding: $nav-link-padding-y $nav-link-padding-x;
        border: $nav-tabs-border-width solid transparent;
        @include hover-focus
        {
          border-color: $nav-tabs-link-hover-border-color $nav-tabs-link-hover-border-color $nav-tabs-border-color;
        }
      }
      &.active a,
      a.active,
      a.open
      {
        @include plain-hover-focus
        {
          color: $nav-tabs-link-active-color;
          background-color: $nav-tabs-link-active-bg;
          border-color: $nav-tabs-link-active-border-color $nav-tabs-link-active-border-color transparent;
        }
      }
    }
  }
  &.nav-pills
  {
    > li
    {
      &:first-child
      {
        a,
        .nav-link
        {
          border-left: 1px solid $nav-border-color;
        }
      }
    }
    .nav-link,
    a
    {
      position: relative;
      padding: $nav-link-padding-y $nav-link-padding-x;
      border-right: 1px solid $nav-border-color;
      &.disabled,
      &[disabled]
      {
        color: $nav-disabled-link-color !important;
        @include plain-hover-focus
        {
          background-color: transparent;
        }
      }
    }
    .active a,
    a.active,
    .nav-link.active,
    .open a
    {
      border-right: 1px solid $nav-border-color;
      padding-left: $spacer-x;
      @include plain-hover-focus
      {
        color: $nav-pills-link-active-color;
        cursor: default;
        background-color: $nav-pills-link-active-bg;
      }
      &:before
      {
        position: absolute;
        top: 8px;
        left: $spacer;
        display: inline-block;
        font-family: FontAwesome;
        color: inherit;
        font-size: $font-size-lg;
        width: 15px !important;
        content: "\f105" !important;
        vertical-align: text-top;
        margin: -3px 0;
      }
    }
    &.flex-column
    {
      > li
      {
        &:first-child
        {
          .nav-link,
          a
          {
            border-left: 0;
            border-top: 1px solid $nav-border-color;
          }
        }
        > a
        {
          width: 100%;
        }
      }
      .nav-link,
      a
      {
        border-right: 0;
        border-bottom: 1px solid $nav-border-color;
      }
      .active a,
      a.active,
      .nav-link.active,
      .open a
      {
        border-right: 0 !important;
      }
    }
  }
}

// Pagination
.pagination
{
  .page-item,
  > li
  {
    @extend .page-item;
    + .page-item a
    {
      margin-left: $pagination-spacing !important;
    }
    .page-link,
    > a
    {
      transition: $transition;
      outline: 0 !important;
      min-width: 40px;
      height: 40px;
      border-radius: $pagination-border-radius;
      @include hover-focus-active
      {
        color: $component-color;
        text-decoration: none;
        background-color: transparent;
      }
    }
    &:first-child
    {
      .fa
      {
        margin: -1px 2px 0 -1px;
      }
    }
    &:last-child
    {
      .fa
      {
        margin: -1px -1px 0 2px;
      }
    }
  }
  .fa
  {
    font-size: $font-size-lg;
  }
  &.pagination-lg
  {
    .page-link
    {
      min-width: 50px;
      height: 50px;
      .fa
      {
        font-size: $font-size-xl;
      }
    }
  }
  &.pagination-sm
  {
    .page-link
    {
      min-width: 30px;
      height: 30px;
      .fa
      {
        font-size: $font-size-lg;
        margin-top: -2px;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}

// Badge
.badge
{
  text-transform: uppercase;
  min-height: 20px;
  color: $badge-color;
  &.badge-pill
  {
    border-radius: $badge-pill-border-radius;
  }
  &.badge-default
  {
    background-color: $badge-default-bg;
  }
}

// Breadcrumb
.breadcrumb
{
  @extend .list-unstyled;
  li
  {
    @extend .breadcrumb-item;
  }
  .breadcrumb-item,
  li > a
  {
    outline: 0;
  }
}

// List group
.list-group
{
  margin-bottom: $spacer !important;
  .list-group-item
  {
    position: relative;
    width: 100%;
    color: $list-group-link-color;
    text-align: inherit;
    text-transform: uppercase;
    transition: $transition-fade;
    padding-right: $spacer;
    border-left: 0;
    border-right: 0;
    @include hover-focus
    {
      color: $list-group-link-hover-color;
      text-decoration: none;
      background-color: $list-group-hover-bg;
      outline: 0;
    }
    &:after
    {
      position: absolute;
      top: 6px;
      right: 10px;
      font-family: FontAwesome;
      color: inherit;
      font-size: $font-size-lg;
      width: 12px !important;
      content: "\f105" !important;
      border: 0 !important;
    }
    &.active
    {
      color: $component-active-color;
      .list-group-item-heading
      {
        color: $component-active-color;
      }
      @include hover-focus-active
      {
        background-color: $component-active-bg;
        color: $component-active-color;
        cursor: $cursor-disabled;
      }
    }
    &.list-group-item-action
    {
      padding-right: $spacer;
      &:after
      {
        display: none;
      }
    }
    .list-group-item-heading
    {
      width: 100%;
    }
    p
    {
      width: 100%;
      font-family: $font-family-regular;
      text-transform: none;
      margin-bottom: ($spacer / 4);
    }
    &.disabled,
    &[disabled]
    {
      color: $list-group-disabled-color;
      cursor: $cursor-disabled;
    }
  }
}

// Card
.card
{
  margin-bottom: $spacer-y;
  .card-footer
  {
    display: flex !important;
    flex-direction: row !important;
    border-top: 1px solid $white !important;
    padding: 0 !important;
    .btn
    {
      @extend .btn-info;
      @extend .btn-sm;
      font-size: $font-size-sm;
      line-height: 1.1; 
      white-space: pre-wrap;
      position: relative;
      text-align: left;
      padding-top: .45rem;
      padding-bottom: .45rem;
      padding-left: $spacer;
      padding-right: $spacer;
      text-decoration: none;
      margin-top: 0 !important;
      flex-grow: 1;
      & + .btn
      {
        border-left: 1px solid $white !important;
      }
      .fa
      {
        margin-right: 5px;
        &.fa-angle-right
        {
          font-size: 18px !important;
          position: absolute;
          bottom: 8px;
          right: $spacer;
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }
  &.card-info
  {
    background-color: $brand-info;
    @extend .white-text;
  }
}
// IE polyfill for responsive image
.ie .card-img-top
{
  height: 100%;
}

// card deck split
.card-deck-split
{
  margin-bottom: $spacer-y;
  .card
  {
    flex: 1;
    padding: $spacer-y $spacer-x;
    @include media-breakpoint-down(xs)
    {
      padding-left: $spacer !important;
      padding-right: $spacer !important;
    }
    @include media-breakpoint-down(md)
    {
      flex: auto;
      width: 100%;
    }
  }
}

// Download
.download
{
  @extend .well;
  @extend .well-warning;
  margin-bottom: $spacer;
  *
  {
    color: #fff;
  }
  .fa
  {
    @extend .fa-lg;
    margin-right: ($spacer / 2);
  }
  code
  {
    background-color: rgba(255,255,255,.2);
  }
}

// Modal
.modal
{
  .modal-content
  {
    .modal-header
    {
      position: relative;
      background-color: $modal-header-bg;
      padding: $modal-header-padding;
      display: flex;
      flex-direction: row;
      .modal-title
      {
        color: $modal-header-color;
        margin: 0;
        flex: 1;
      }
      .close
      {
        @extend .close-icon;
        position: absolute;
        top: -1px;
        right: 0;
        z-index: ($zindex-modal + 1);
        margin: 0;
        color: $white;
        &:before
        {
          color: $white;
        }
        @include media-breakpoint-up(sm)
        {
          &:before
          {
            font-size: $h2-font-size;
          }
        }
      }
      @include media-breakpoint-down(xs)
      {
        padding: 10px $spacer;
        .modal-title
        {
          font-size: $h5-font-size;
        }
        .close
        {
          top: -9px;
        }
      }
    }
    .modal-body
    {
      padding: $spacer-y $spacer-x;
      .dialog
      {
        width: 100%;
        min-height: 90px;
        display: table;
        .dialog-body
        {
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          h1, h2, h3, h4, h5
          {
            font-size: $h5-font-size;
            margin: 0;
          }
        }
      }
    }
    .modal-footer
    {
      width: 100%;
      border-top: 1px $modal-footer-border-color solid;
      padding: 0;
      display: flex;
      flex-direction: row;
      .btn
      {
        flex: 1;
        justify-content: center;
        text-align: center;
        margin: 0;
        border: 0;
        min-height: 40px;
      }
      .btn + .btn
      {
        margin: 0;
      }
    }
    .dropdown-menu
    {
      z-index: $zindex-dropdown-modal;
    }
  }
}

// Modal page
.modal-page
{
  height: 100vh;
  min-height: 100%;
  .modal-dialog
  {
    position: relative;
    height: 100vh;
    min-height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    @include media-breakpoint-up(lg)
    {
      max-width: 960px !important;
    }
    @include media-breakpoint-down(lg)
    {
      max-width: 100% !important;
      margin-left: 0 !important;
    }
    .modal-content
    {
      height: 100vh;
      min-height: 100%;
      display: flex;
      flex-direction: column;
      padding: 0;
      overflow: hidden;
      .modal-header
      {
        @include media-breakpoint-up(md)
        {
          padding-left: $spacer;
          padding-right: $spacer;
        }
        .modal-header-btn-group
        {
          position: absolute;
          top: 10px !important;
          left: $spacer !important;
          .btn
          {
            @extend .btn-link;
            @extend .white-text;
          }
        }
      }
      .modal-body
      {
        flex: 1;
        @extend .inner-y;
        @include media-breakpoint-up(md)
        {
          padding: $spacer-y $spacer-x;
        }
      }
    }
  }
}

.modal:not(.show).modal-page .modal-dialog
{
  transform: translate3d(100%, 0, 0);
  .project-header
  {
    opacity: 0;
  }
}

// Progress JS
.progressjs-navbar
{
  position: relative;
  .progressjs-progress
  {
    position: absolute !important;
    top: 0 !important;
    z-index: $zindex-progressjs;
  }
  .progressjs-inner
  {
    color: $text-color;
    width: 0;
    height: 4px;
    transition: all 0.3s ease-out;
    background-color: $blue-dark;
  }
  .progressjs-end
  {
    transition: all 0.2s ease-out;
    opacity: 0;
  }
  .progressjs-percent
  {
    display: none;
  }
}

// Accordion Collapse
.accordion
{
  border-top: 1px solid $component-bg-hover;
  .card
  {
    margin-bottom: 0;
    .card-header
    {
      background-color: transparent;
      padding: 0;
      border-bottom: 1px solid $component-bg-hover;
      a[data-toggle="collapse"]
      {
        @extend .h5;
        margin: 0;
        padding: .625rem $spacer;
        padding-right: $spacer;
      }
    }
    .card-body
    {
      padding: $spacer;
      border-bottom: 1px solid $component-bg-hover;
      p:last-child
      {
        margin-bottom: 0;
      }
    }
  }
  a[data-toggle="collapse"]
  {
    display: block;
    position: relative;
    transition: $transition;
    &:hover
    {
      cursor: pointer;
    }
    @include hover-focus-active
    {
      outline: 0;
      text-decoration: none;
      background-color: $component-bg-hover;
    }
    &:after
    {
      position: absolute;
      top: 5px;
      right: 8px;
      display: inline-block;
      font-family: FontAwesome;
      color: inherit;
      font-size: $font-size-lg;
      width: 16px !important;
      height: 16px !important;
      content: "\f105" !important;
      vertical-align: text-top;
      margin: 0;
      transition: $transition;
    }
    &[aria-expanded="true"]
    {
      color: $component-active-color !important;
      background-color: $component-active-bg;
      &:after
      {
        transform: rotate(90deg);
        top: 18px;
      }
    }
  }
}