// Variables
//
// Sweco Bootstrap Variables, overides Bootstrap default values
//

// White
$white:                 #fff;

// Black
$black:                 #000;
$black-ich:             #222;
$black-light:           #3a3a3a;                  // Sweco Text color
$black-lightning:       #444;
$black-lighter:         #555;
$black-ultralight:      #777;
$black-superlight:      #999;

// Sweco Gray Dark
$dark-gray:             #4d535a;                  // Sweco Gray Dark
$dark-gray-ich:         lighten($dark-gray, 10%);   // #
$dark-gray-light:       lighten($dark-gray, 20%);   // #
$dark-gray-lighter:     lighten($dark-gray, 30%);   // #
$dark-gray-ultralight:  lighten($dark-gray, 40%);   // #
$dark-gray-superlight:  lighten($dark-gray, 50%);   // #
$gray-dark:             $dark-gray;                 // Bootstrap compability

// Sweco Gray
$gray:                  #a5a5a8;                  // Sweco Gray
$gray-ich:              lighten($gray, 5%);         // #
$gray-light:            lighten($gray, 10%);        // #
$gray-lighter:          lighten($gray, 15%);        // #
$gray-ultralight:       lighten($gray, 20%);        // #
$gray-superlight:       #eee;                     // Sweco Gray Superlight
$gray-lightest:         $gray-superlight;           // Bootstrap 3 shim

// Sweco Gray Light
$light-gray:            #e2e0da;                  // Sweco Gray Light
$light-gray-ich:        lighten($light-gray, 2%);   // #
$light-gray-light:      lighten($light-gray, 4%);   // #
$light-gray-lighter:    lighten($light-gray, 6%);   // #
$light-gray-ultralight: lighten($light-gray, 8%);   // #
$light-gray-superlight: lighten($light-gray, 10%);  // #

// Sweco Ochre
$ochre-dark:            #a4852f;                  // Sweco Ochre Muted
$ochre:                 #dec55b;                  // Sweco Ochre Bright
$ochre-ich:             lighten($ochre, 10%);       // #
$ochre-light:           lighten($ochre, 15%);       // #
$ochre-lighter:         lighten($ochre, 20%);       // #
$ochre-ultralight:      lighten($ochre, 25%);       // #

// Sweco Pink
$pink-dark:             #b586a4;                  // Sweco Pink Muted
$pink:                  #f2b1dc;                  // Sweco Pink Bright
$pink-ich:              lighten($pink, 6%);         // #
$pink-light:            lighten($pink, 8%);         // #
$pink-lighter:          lighten($pink, 10%);        // #
$pink-ultralight:       lighten($pink, 12%);        // #

// Sweco Blue
$blue-dark:             #7e8dab;                  // Sweco Blue Muted
$blue:                  #8aa3b9;                  // Sweco Blue Text
$blue-ich:              lighten($blue, 5%);         // #
$blue-light:            lighten($blue, 10%);        // #
$blue-lighter:          lighten($blue, 15%);        // #
$blue-ultralight:       #c0d4fd;                  // Sweco Blue Bright

// Red, validation and states
$red:                   #821307;

// Green, validation and states
$green:                 #59854e;

// Bootstrap color system
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$grays: ();
$grays: map-merge((
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
), $grays);

$indigo:  #6610f2;
$purple:  #6f42c1;
$orange:  #fd7e14;
$yellow:  #ffc107;
$teal:    #20c997;
$cyan:    #17a2b8;

$colors: ();
$colors: map-merge((
  "blue":       $blue,
  "indigo":     $indigo,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      $white,
  "gray":       $gray,
  "gray-dark":  $dark-gray
), $colors);

$primary:       $dark-gray;
$secondary:     $white;
$info:          $blue-dark;
$success:       $green;      // Validation and states
$warning:       $pink-dark;  // Validation and states
$danger:        $red;        // Validation and states
$light:         $light-gray;
$dark:          $dark-gray;

$theme-colors: ();
$theme-colors: map-merge((
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
), $theme-colors);

// Colors (Bootstrap 3 scss)
$brand-primary:             $dark-gray;
$brand-secondary:           $white;
$brand-info:                $blue-dark;
$brand-warning:             $pink-dark; // Validation and states
$brand-danger:              $red;       // Validation and states
$brand-success:             $green;     // Validation and states
$brand-inverse:             $dark-gray;

// Form states and alerts (Bootstrap 3 scss)
$state-success-text:             $brand-success;
$state-success-bg:               transparent;
$state-success-border:           $brand-success;
$state-info-text:                $brand-info;
$state-info-bg:                  transparent;
$state-info-border:              $brand-info;
$state-warning-text:             $brand-warning;
$state-warning-bg:               transparent;
$state-warning-border:           $brand-warning;
$state-danger-text:              $brand-danger;
$state-danger-bg:                transparent;
$state-danger-border:            $brand-danger;

// Set a specific jump point for requesting color jumps
$theme-color-interval:      10%;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold:  150;

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark: $black-light;
$yiq-text-light: $white;

// Options
$enable-caret:              true;
$enable-rounded:            false;
$enable-shadows:            true;
$enable-gradients:          false;
$enable-transitions:        true;
$enable-grid-classes:       true;
$enable-print-styles:       true;


// Spacing
$spacer: .95rem;
$spacer-x: ($spacer * 2);
$spacer-y: ($spacer * 2);
$spacers: ();
$spacers: map-merge((
  0: 0,
  1: ($spacer * .3),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 2)
), $spacers);

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: ();
$sizes: map-merge((
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%
), $sizes);

// Body
$body-bg:                     $gray-superlight;
$body-color:                  $black-light;
$text-color:                  $body-color;

// Links
$link-color:                  $pink-dark;
$link-decoration:             none;
$link-hover-color:            $pink-dark;
$link-hover-decoration:       underline;

// Paragraphs
$paragraph-margin-bottom:     1rem;

// Grid columns
$grid-columns:                12;
$grid-gutter-width:           30px;

// Components
$border-width:                1px;
$border-color:                $gray;
$border-color-light:          $gray-superlight;

$border-radius:               .25rem;
$border-radius-lg:            .3rem;
$border-radius-sm:            .2rem;

$component-color:             $text-color;
$component-bg-hover:          $gray-superlight;
$component-active-color:      $white;
$component-active-bg:         $dark-gray;
$component-active-hover-bg:   darken($dark-gray, 5%);

$caret-width:                 .3em;

// Transition for btn, nav and such
$transition-base:             all .3s ease-in-out;
$transition-fade:             opacity .15s linear;
$transition-collapse:         height .3s ease;
$transition-bg:               background-color .3s ease-in-out;
$transition:                  $transition-base; // BS 3 scss

// Highlight & shadows
$box-shadow-size:             15px;
$box-shadow:                  rgba(0,0,0,.3);

// Cursor
$cursor-disabled:             default;

// Fonts
$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-monospace:       Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-regular:         "SwecoSans-Regular", $font-family-sans-serif;
$font-family-medium:          "SwecoSans-Medium", $font-family-sans-serif;
$font-family-heavy:           "SwecoSans-Bold", $font-family-sans-serif;
$font-family-base:            $font-family-regular;

// Font-size for scale all typography
// $font-size-base:              1rem; // Assumes the browser default, typically `16px`
$font-size-base:              .95rem;
$font-size-xl:                1.6rem;
$font-size-lg:                1.3rem;
$font-size-sm:                .8rem;
$font-size-xs:                .7rem;

$line-height-base:            1.35;
$line-height-xl:              1.6;
$line-height-lg:              1.45;
$line-height-sm:              1.2;
$line-height-xs:              1.45;
$line-height-computed:        1.25rem;

$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-bold:            700;
$font-weight-base:            $font-weight-normal;

$h1-font-size:                $font-size-base * 2.36;
$h2-font-size:                $font-size-base * 1.98;
$h3-font-size:                $font-size-base * 1.65;
$h4-font-size:                $font-size-base * 1.36;
$h5-font-size:                $font-size-base;
$h6-font-size:                $font-size-base * .8;

$headings-line-height:        1.26;
$h1-line-height:              $headings-line-height;
$h2-line-height:              1.35;
$h3-line-height:              1.2;
$h4-line-height:              1.47;
$h5-line-height:              1.35;
$h6-line-height:              1.24;

$headings-margin-bottom:      ($spacer / 2);
$headings-font-family:        $font-family-medium;
$headings-font-weight:        $font-weight-normal;
$headings-color:              $black-light;

// Display
$display1-size:               6rem;
$display2-size:               5.35rem;
$display3-size:               4rem;
$display4-size:               2.7rem;

$display1-weight:             $font-weight-light;
$display2-weight:             $font-weight-light;
$display3-weight:             $font-weight-light;
$display4-weight:             $font-weight-light;

$display-line-height:         $headings-line-height;
$line-height-display-1:       1.17;
$line-height-display-2:       1.19;
$line-height-display-3:       1.25;
$line-height-display-4:       1.37;

// Lead
$lead-font-size:              1.25rem;
$lead-line-height:            1.24;
$lead-font-weight:            $font-weight-normal;

// Small
$small-font-size:             80%;

// Mute & disabled
$text-muted:                  $gray;
$disabled-color:              $text-muted;
$disabled-bg:                 $gray-superlight;

// Abbr
$abbr-border-color:           $gray;

$blockquote-small-color:      $text-muted;
$blockquote-font-size:        $font-size-lg;

// Hr
$hr-border-color:             $border-color;
$hr-border-width:             $border-width;
$hr-margin-y:                 $spacer;

// Mark
$mark-padding:                .2em .1em;
$mark-bg:                     $light-gray;

// Kbd
$kbd-color:                   $white;
$kbd-bg:                      $black-lighter;
$kbd-box-shadow:              none;
$nested-kbd-font-weight:      normal;

// Lists
$dt-font-weight:              normal;
$dt-font-weight:              $font-weight-bold;
$list-inline-padding:         .5rem;

// Tables
$table-cell-padding:          .31rem $spacer .32rem;
$table-cell-padding-sm:       .312rem .32rem .314rem;

$table-bg:                    transparent;
$table-accent-bg:             $light-gray-superlight;
$table-hover-bg:              $component-bg-hover;
$table-active-bg:             $gray-superlight;

$table-border-width:          $border-width;
$table-border-color:          $border-color;

$table-head-font-family:      $font-family-heavy;
$table-head-bg:               $table-bg;
$table-head-color:            $headings-color;

// Buttons + Forms
$input-btn-focus-width:       .2rem;
$input-btn-focus-color:       rgba($component-active-bg, .25);
$input-btn-focus-box-shadow:  0 0 0 $input-btn-focus-width $input-btn-focus-color;

$input-btn-padding-y:         .565rem;
$input-btn-padding-x:         1rem;
$input-btn-line-height:       $line-height-base;

$input-btn-padding-y-xs:      0;
$input-btn-padding-x-xs:      .25rem;
$input-btn-line-height-xs:    $line-height-xs;

$input-btn-padding-y-sm:      .19rem;
$input-btn-padding-x-sm:      .5rem;
$input-btn-line-height-sm:    $line-height-sm;

$input-btn-padding-y-lg:      .535rem;
$input-btn-padding-x-lg:      1rem;
$input-btn-line-height-lg:    $line-height-lg;

$input-btn-border-width:      $border-width;

// Buttons
$btn-padding-y:               $input-btn-padding-y;
$btn-padding-x:               $input-btn-padding-x;
$btn-line-height:             $input-btn-line-height;

$btn-padding-y-xs:            $input-btn-padding-y-xs;
$btn-padding-x-xs:            $input-btn-padding-x-xs;
$btn-line-height-xs:          $input-btn-line-height-xs;

$btn-padding-y-sm:            $input-btn-padding-y-sm;
$btn-padding-x-sm:            $input-btn-padding-x-sm;
$btn-line-height-sm:          $input-btn-line-height-sm;

$btn-padding-y-lg:            $input-btn-padding-y-lg;
$btn-padding-x-lg:            $input-btn-padding-x-lg;
$btn-line-height-lg:          $input-btn-line-height-lg;

$btn-border-width:            1;

$btn-font-family:             $font-family-medium;
$btn-font-weight:             $font-weight-normal;
$btn-text-transform:          uppercase;
$btn-box-shadow:              none;
$btn-focus-box-shadow:        none;
$btn-active-box-shadow:       none;

$btn-disabled-opacity:        1;
$btn-disabled-bg-color:       $disabled-bg;
$btn-link-disabled-color:     $disabled-color;

$btn-block-spacing-y:         .5rem;

$btn-border-radius:           0;
$btn-border-radius-lg:        0;
$btn-border-radius-sm:        0;

$btn-transition:              color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

$btn-outline-box-width:       400px;

// Btn colors
$btn-primary-color:           $white;
$btn-primary-bg:              $brand-primary;
$btn-primary-border:          $btn-primary-bg;

$btn-secondary-color:         $text-color;
$btn-secondary-bg:            $white;
$btn-secondary-border:        $gray;

$btn-info-color:              $white;
$btn-info-bg:                 $brand-info;
$btn-info-border:             $btn-info-bg;

$btn-success-color:           $white;
$btn-success-bg:              $brand-success;
$btn-success-border:          $btn-success-bg;

$btn-warning-color:           $white;
$btn-warning-bg:              $brand-warning;
$btn-warning-border:          $btn-warning-bg;

$btn-danger-color:            $white;
$btn-danger-bg:               $brand-danger;
$btn-danger-border:           $btn-danger-bg;

// Fieldset
$fieldset-bg:                           $gray-superlight;

// Forms
$input-padding-y:                       $input-btn-padding-y;
$input-padding-x:                       .75rem;
$input-line-height:                     $input-btn-line-height;

$input-padding-y-sm:                    $input-btn-padding-y-xs;
$input-padding-x-sm:                    $input-btn-padding-x-xs;
$input-line-height-sm:                  $input-btn-line-height-xs;

$input-padding-y-sm:                    $input-btn-padding-y-sm;
$input-padding-x-sm:                    $input-btn-padding-x-sm;
$input-line-height-sm:                  $input-btn-line-height-sm;

$input-padding-y-lg:                    $input-btn-padding-y-lg;
$input-padding-x-lg:                    $input-btn-padding-x-lg;
$input-line-height-lg:                  $input-btn-line-height-lg;

$input-bg:                              $white;
$input-disabled-bg:                     $disabled-bg;

$input-color:                           $text-color;
$input-border-color:                    $border-color;
$input-border-width:                    $input-btn-border-width;
$input-box-shadow:                      none;

$input-border-radius:                   0;
$input-border-radius-lg:                0;
$input-border-radius-sm:                0;

$input-focus-bg:                        $input-bg;
$input-focus-border-color:              darken($border-color, 20%);
$input-focus-color:                     $input-color;
$input-focus-width:                     $input-btn-focus-width;
$input-focus-box-shadow:                $input-btn-focus-box-shadow;

$input-placeholder-color:               $dark-gray;

$input-height-border:                   $input-border-width * 2;

$input-height-inner:                    ($font-size-base * $input-btn-line-height) + ($input-btn-padding-y * 2);
$input-height:                          calc(#{$input-height-inner} + #{$input-height-border});

$input-height-inner-xs:                 ($font-size-xs * $input-btn-line-height-xs) + ($input-btn-padding-y-xs * 2);
$input-height-xs:                       calc(#{$input-height-inner-xs} + #{$input-height-border});

$input-height-inner-sm:                 ($font-size-sm * $input-btn-line-height-sm) + ($input-btn-padding-y-sm * 2);
$input-height-sm:                       calc(#{$input-height-inner-sm} + #{$input-height-border});

$input-height-inner-lg:                 ($font-size-lg * $input-btn-line-height-lg) + ($input-btn-padding-y-lg * 2);
$input-height-lg:                       calc(#{$input-height-inner-lg} + #{$input-height-border});

$input-transition:                      border-color .15s ease-in-out, box-shadow .15s ease-in-out;

$form-text-margin-top:                  .25rem;

$form-check-input-gutter:               1.25rem;
$form-check-input-margin-y:             .3rem;
$form-check-input-margin-x:             .25rem;

$form-check-inline-margin-x:            .75rem;
$form-check-inline-input-margin-x:      .3125rem;

$form-group-margin-bottom:              1rem;

$input-group-addon-color:               $white;
$input-group-addon-bg:                  $gray;
$input-group-addon-border-color:        $input-border-color;

$custom-control-gutter:                         1.5rem;
$custom-control-spacer-x:                       1rem;

$custom-control-indicator-size:                 1rem;
$custom-control-indicator-bg:                   $border-color;
$custom-control-indicator-bg-size:              50% 50%;
$custom-control-indicator-box-shadow:           inset 0 .25rem .25rem rgba($black, .1);

$custom-control-indicator-disabled-bg:          $disabled-bg;
$custom-control-label-disabled-color:           $disabled-color;

$custom-control-indicator-checked-color:        $white;
$custom-control-indicator-checked-bg:           $component-active-bg;
$custom-control-indicator-checked-disabled-bg:  $disabled-color;
$custom-control-indicator-checked-box-shadow:   none;

$custom-control-indicator-focus-box-shadow:     0 0 0 1px $body-bg, $input-btn-focus-box-shadow;

$custom-control-indicator-active-color:         $component-active-color;
$custom-control-indicator-active-bg:            lighten($component-active-bg, 35%);
$custom-control-indicator-active-box-shadow:    none;

$custom-checkbox-indicator-border-radius:       $border-radius;
$custom-checkbox-indicator-icon-checked:        str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='#{$custom-control-indicator-checked-color}' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E"), "#", "%23");

$custom-checkbox-indicator-indeterminate-bg:    $component-active-bg;
$custom-checkbox-indicator-indeterminate-color: $custom-control-indicator-checked-color;
$custom-checkbox-indicator-icon-indeterminate:  str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cpath stroke='#{$custom-checkbox-indicator-indeterminate-color}' d='M0 2h4'/%3E%3C/svg%3E"), "#", "%23");
$custom-checkbox-indicator-indeterminate-box-shadow: none;

$custom-radio-indicator-border-radius:          50%;
$custom-radio-indicator-icon-checked:           str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='#{$custom-control-indicator-checked-color}'/%3E%3C/svg%3E"), "#", "%23");

$custom-select-padding-y:           $input-padding-y;
$custom-select-padding-x:           $input-padding-x;
$custom-select-height:              $input-height;
$custom-select-indicator-padding:   1rem; // Extra padding to account for the presence of the background-image based indicator
$custom-select-line-height:         $input-btn-line-height;
$custom-select-color:               $input-color;
$custom-select-disabled-color:      $disabled-color;
$custom-select-bg:                  $white;
$custom-select-disabled-bg:         $disabled-bg;
$custom-select-bg-size:             14px 12px; // In pixels because image dimensions
$custom-select-indicator-color:     $text-color;
$custom-select-indicator:           str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='#{$custom-select-indicator-color}' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E"), "#", "%23");
$custom-select-border-width:        $input-btn-border-width;
$custom-select-border-color:        $input-border-color;
$custom-select-border-radius:       0;

$custom-select-focus-border-color:  $input-focus-border-color;
$custom-select-focus-box-shadow:    none;

$custom-select-sm-padding-y:        .2rem;
$custom-select-font-size-sm:        75%;
$custom-select-height-sm:           $input-height-sm;

$custom-select-font-size-lg:        125%;
$custom-select-height-lg:           $input-height-lg;

$custom-file-height:                $input-height;
$custom-file-focus-border-color:    $input-focus-border-color;
$custom-file-focus-box-shadow:      $input-btn-focus-box-shadow;

$custom-file-padding-y:             $input-btn-padding-y;
$custom-file-padding-x:             $input-btn-padding-x;
$custom-file-line-height:           $input-btn-line-height;
$custom-file-color:                 $input-color;
$custom-file-bg:                    $input-bg;
$custom-file-border-width:          $input-btn-border-width;
$custom-file-border-color:          $input-border-color;
$custom-file-border-radius:         $input-border-radius;
$custom-file-box-shadow:            $input-box-shadow;
$custom-file-button-color:          $custom-file-color;
$custom-file-button-bg:             $input-group-addon-bg;
$custom-file-text: (
  en: "Browse"
);

// Form validation
$form-feedback-margin-top:          $form-text-margin-top;
$form-feedback-font-size:           $font-size-sm;
$form-feedback-valid-color:         theme-color("success");
$form-feedback-invalid-color:       theme-color("danger");

// Dropdowns
$dropdown-min-width:                200px;
$dropdown-max-height:               180px;
$dropdown-padding-y:                1px;
$dropdown-spacer:                   10px;
$dropdown-bg:                       $white;
$dropdown-border-color:             $border-color;
$dropdown-border-radius:            0;
$dropdown-border-width:             $border-width;
$dropdown-divider-bg:               $border-color;
$dropdown-box-shadow:               0 0 $box-shadow-size $box-shadow;

$dropdown-link-color:               $component-color;
$dropdown-link-hover-color:         $dropdown-link-color;
$dropdown-link-hover-bg:            $component-bg-hover;

$dropdown-link-active-color:        $component-active-color;
$dropdown-link-active-bg:           $component-active-bg;
$dropdown-link-active-hover-bg:     $component-active-hover-bg;

$dropdown-link-disabled-color:      $disabled-color;

$dropdown-item-padding-y:           5px;
$dropdown-item-padding-x:           $spacer;

$dropdown-header-color:             $headings-color;

// Z-index
$zindex-dropdown-backdrop:          990;
$zindex-dropdown:                   1000;
$zindex-navbar:                     1010;
$zindex-btn:                        1020;
$zindex-sticky:                     1030;
$zindex-popover:                    1040;
$zindex-fixed:                      1050;
$zindex-progressjs:                 $zindex-fixed;
$zindex-fixed-dropdown:             1060;
$zindex-tooltip:                    1070;
$zindex-modal-backdrop:             2000;
$zindex-modal:                      2010;
$zindex-dropdown-modal:             2020;
$zindex-lightbox-backdrop:          2030;
$zindex-lightbox:                   2040;

// Navs
$nav-link-padding-y:                .6rem;
$nav-link-padding-x:                1rem;

$nav-link-color:                    $text-color;
$nav-link-hover-color:              darken($text-color, 10%);
$nav-link-hover-bg:                 $component-bg-hover;
$nav-text-transform:                uppercase;

$nav-border-color:                  $border-color-light;

$nav-disabled-link-color:           $disabled-color;
$nav-disabled-link-hover-color:     $disabled-color;
$nav-disabled-link-hover-bg:        transparent;

$nav-tabs-border-color:             $border-color;
$nav-tabs-border-width:             $border-width;
$nav-tabs-border-radius:            0;
$nav-tabs-link-hover-border-color:  transparent transparent $border-color transparent;
$nav-tabs-link-active-color:        $component-color;
$nav-tabs-link-active-bg:           $white;
$nav-tabs-link-active-border-color: $border-color $border-color transparent $border-color;

$nav-pills-border-radius:           0;
$nav-pills-link-active-color:       $component-active-color;
$nav-pills-link-active-bg:          $component-active-bg;

// Navbar
$navbar-bg:                         rgba(0,0,0,.77); // @black-ich;
$navbar-color:                      $white;
$navbar-height:                     60px;
$navbar-north-height:               $navbar-height;
$navbar-south-height:               $navbar-height;
$navbar-padding-y:                  0;
$navbar-padding-x:                  0;
$navbar-nav-link-padding-x:         .5rem;
$navbar-brand-font-size:            $font-size-base;

// Compute the navbar-brand padding-y so the navbar-brand will have the same height as navbar-text and nav-link
$nav-link-height:                   ($font-size-base * $line-height-base + $nav-link-padding-y * 2);
$navbar-brand-height:               $navbar-brand-font-size * $line-height-base;
$navbar-brand-padding-y:            ($nav-link-height - $navbar-brand-height) / 2;

$navbar-toggler-padding-y:          .25rem;
$navbar-toggler-padding-x:          .75rem;
$navbar-toggler-font-size:          $font-size-lg;
$navbar-toggler-border-radius:      $btn-border-radius;

$navbar-dark-color:                 rgba($white, .5);
$navbar-dark-hover-color:           rgba($white, .75);
$navbar-dark-active-color:          $white;
$navbar-dark-disabled-color:        rgba($white, .25);
$navbar-dark-toggler-icon-bg:       str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-dark-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23");
$navbar-dark-toggler-border-color:  rgba($white, .1);

$navbar-light-color:                rgba($black, .5);
$navbar-light-hover-color:          rgba($black, .7);
$navbar-light-active-color:         rgba($black, .9);
$navbar-light-disabled-color:       rgba($black, .3);
$navbar-light-toggler-icon-bg:      str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#{$navbar-light-color}' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"), "#", "%23");
$navbar-light-toggler-border-color: rgba($black, .1);

// Pagination
$pagination-border-radius:          50%;
$pagination-spacing:                ($spacer / 2);

$pagination-padding-y:              .6rem;
$pagination-padding-x:              .94rem;
$pagination-padding-y-sm:           .4rem;
$pagination-padding-x-sm:           .73rem;
$pagination-padding-y-lg:           .65rem;
$pagination-padding-x-lg:           1.1rem;

$pagination-line-height:            1.25;

$pagination-color:                  $text-color;
$pagination-bg:                     transparent;
$pagination-border-width:           $border-width;
$pagination-border-color:           transparent;

$pagination-focus-box-shadow:       $input-btn-focus-box-shadow;

$pagination-hover-color:            $link-hover-color;
$pagination-hover-bg:               transparent;
$pagination-hover-border-color:     $border-color;

$pagination-active-color:           $text-color;
$pagination-active-bg:              transparent;
$pagination-active-border-color:    $border-color;

$pagination-disabled-color:         $disabled-color;
$pagination-disabled-bg:            transparent;
$pagination-disabled-border-color:  transparent;

// Jumbotron
$jumbotron-padding:                 2rem;
$jumbotron-bg:                      $blue-dark;
$jumbotron-color:                   $white;

// Cards
$card-spacer-y:                     $spacer;
$card-spacer-x:                     $spacer;
$card-border-width:                 0;
$card-border-radius:                0;
$card-border-color:                 $border-color;
$card-inner-border-radius:          0;
$card-cap-bg:                       $disabled-bg;
$card-bg:                           $white;

$card-img-overlay-padding:          $spacer;

$card-group-margin:                 ($grid-gutter-width / 2);
$card-deck-margin:                  $card-group-margin;

$card-columns-count:                3;
$card-columns-gap:                  1.25rem;
$card-columns-margin:               $card-spacer-y;

// Tooltips
$tooltip-font-size:                 $font-size-sm;
$tooltip-max-width:                 200px;
$tooltip-color:                     $white;
$tooltip-bg:                        rgba(0,0,0,.77); // @black-ich;
$tooltip-opacity:                   1;
$tooltip-padding-y:                 5px;
$tooltip-padding-x:                 10px;
$tooltip-margin:                    1px;
$tooltip-arrow-width:               5px;
$tooltip-arrow-height:              5px;
$tooltip-arrow-color:               $tooltip-bg;

// Popovers
$popover-font-size:                 $font-size-sm;
$popover-bg:                        $white;
$popover-max-width:                 280px;
$popover-border-width:              0;
$popover-border-radius:             0;
$popover-border-color:              transparent;
$popover-box-shadow:                0 5px $box-shadow-size $box-shadow;

$popover-header-bg:                 $brand-primary; 
$popover-header-color:              $white;
$popover-header-padding-y:          9px;
$popover-header-padding-x:          $spacer;

$popover-body-color:                $white;
$popover-body-padding-y:            $spacer;
$popover-body-padding-x:            $spacer;
$popover-body-max-height:           280px;

$popover-arrow-width:               10px;
$popover-arrow-height:              5px;
$popover-arrow-color:               $white;
$popover-arrow-outer-width:         9px;
$popover-arrow-outer-color:         fade-in($popover-border-color, .05);

// Badges
$badge-color:                       $white;
$badge-font-size:                   85%;
$badge-font-weight:                 normal;
$badge-padding-y:                   .3em;
$badge-padding-x:                   .5em;
$badge-border-radius:               $border-radius;
$badge-pill-padding-x:              .6em;
$badge-pill-border-radius:          10rem;

$badge-default-bg:                  $disabled-color;
$badge-primary-bg:                  $brand-primary;
$badge-success-bg:                  $brand-success;
$badge-info-bg:                     $brand-info;
$badge-warning-bg:                  $brand-warning;
$badge-danger-bg:                   $brand-danger;

// Modals
$modal-inner-padding:               0;
$modal-dialog-margin:               10px;
$modal-dialog-margin-y-sm-up:       90px;

$modal-title-line-height:           $line-height-base;

$modal-content-bg:                  $white;
$modal-content-border-color:        $border-color;
$modal-content-border-width:        0;
$modal-content-box-shadow-xs:       0 5px $box-shadow-size $box-shadow;
$modal-content-box-shadow-sm-up:    0 5px $box-shadow-size $box-shadow;

$modal-backdrop-bg:                 $black;
$modal-backdrop-opacity:            .8;

$modal-header-bg:                   $brand-primary;
$modal-header-color:                $white;
$modal-header-border-color:         $border-color;
$modal-footer-border-color:         $modal-header-border-color;
$modal-header-border-width:         $modal-content-border-width;
$modal-footer-border-width:         $modal-header-border-width;
$modal-header-padding:              $spacer;

$modal-lg:                          800px;
$modal-md:                          500px;
$modal-sm:                          300px;

$modal-transition:                  transform .3s ease-out;

// Alerts
$alert-padding-y:                   .75rem;
$alert-padding-x:                   1.25rem;
$alert-margin-bottom:               1rem;
$alert-border-radius:               $border-radius;
$alert-link-font-weight:            $font-weight-bold;
$alert-border-width:                $border-width;

$alert-bg-level:                    -10;
$alert-border-level:                -9;
$alert-color-level:                 6;

// Progress bars
$progress-height:                   1rem;
$progress-font-size:                ($font-size-base * .75);
$progress-bg:                       $disabled-bg;
$progress-border-radius:            $border-radius;
$progress-box-shadow:               inset 0 .1rem .1rem rgba($black, .1);
$progress-bar-color:                $white;
$progress-bar-bg:                   theme-color("primary");
$progress-bar-animation-timing:     1s linear infinite;
$progress-bar-transition:           width .6s ease;

// List group
$list-group-bg:                     $white;
$list-group-border-color:           $border-color-light;
$list-group-border-width:           $border-width;
$list-group-border-radius:          0;

$list-group-item-padding-y:         .6rem;
$list-group-item-padding-x:         $spacer;

$list-group-hover-bg:               $component-bg-hover;
$list-group-active-color:           $component-active-color;
$list-group-active-bg:              $component-active-bg;
$list-group-active-border-color:    $list-group-active-bg;

$list-group-disabled-color:         $disabled-color;
$list-group-disabled-bg:            $disabled-bg;

$list-group-action-color:           $component-color;
$list-group-action-hover-color:     $list-group-action-color;

$list-group-action-active-color:    $component-active-color;
$list-group-action-active-bg:       $component-active-bg;

$list-group-link-color:             $component-color;
$list-group-link-hover-color:       $list-group-link-color;

// Image thumbnails
$thumbnail-padding:                 .25rem;
$thumbnail-bg:                      $body-bg;
$thumbnail-border-width:            $border-width;
$thumbnail-border-color:            $border-color;
$thumbnail-border-radius:           0;
$thumbnail-box-shadow:              0 1px 2px rgba($black,.075);
$thumbnail-transition:              all .2s ease-in-out;

// Figures
$figure-caption-font-size:          90%;
$figure-caption-color:              $gray-light;

// Breadcrumbs
$breadcrumb-padding-y:              0;
$breadcrumb-padding-x:              0;
$breadcrumb-item-padding:           .5rem;
$breadcrumb-bg:                     transparent;
$breadcrumb-divider-color:          $text-muted;
$breadcrumb-active-color:           $text-muted;
$breadcrumb-divider:                "/";
$breadcrumb-margin-bottom:          $spacer;

// Carousel
$carousel-control-color:            $white;
$carousel-control-width:            15%;
$carousel-control-opacity:          .5;

$carousel-indicator-width:          30px;
$carousel-indicator-height:         3px;
$carousel-indicator-spacer:         3px;
$carousel-indicator-active-bg:      $white;

$carousel-caption-width:            70%;
$carousel-caption-color:            $white;

$carousel-control-icon-width:       20px;
$carousel-control-prev-icon-bg:     str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{$carousel-control-color}' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"), "#", "%23");
$carousel-control-next-icon-bg:     str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{$carousel-control-color}' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"), "#", "%23");

$carousel-transition:               transform .6s ease;

// Close
$close-font-size:                   1.425rem;
$close-font-weight:                 $font-weight-normal;
$close-color:                       $gray;
$close-text-shadow:                 none;

// Code
$code-font-size:                    90%;
$code-padding-y:                    .13rem;
$code-padding-x:                    .4rem;
$code-color:                        $pink-dark;
$code-bg:                           $gray-superlight;

$kbd-padding-y:                     .2rem;
$kbd-padding-x:                     .4rem;
$kbd-font-size:                     $code-font-size;
$kbd-color:                         $white;
$kbd-bg:                            $black-light;

$pre-color:                         $black-light;
$pre-scrollable-max-height:         340px;

// Printing
$print-page-size:                   a3;
$print-body-min-width:              992px;

// Sweco
$overlay-pattern: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyIiBoZWlnaHQ9IjIiIHZpZXdCb3g9IjAgMCAyIDIiPgogIDxkZWZzPgogICAgPHN0eWxlPgogICAgICAuY2xzLTEgewogICAgICAgIG9wYWNpdHk6IDAuNDsKICAgICAgfQogICAgPC9zdHlsZT4KICA8L2RlZnM+CiAgPHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIi8+Cjwvc3ZnPgo=");